.wrapper{
  margin-top: 70px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  box-shadow: 5px 10px rgb(237, 241, 239);
  width: 40%;
}
.container{
  display: flex;
  flex-direction: column;
  width: 100%;
}
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
.Button button{
      background-color: #4CAF50;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      cursor: pointer;
      width: 100%;
}
button:hover {
  opacity: 0.8;
}